<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Lovely Blog</span><span *ngIf="currentUserInfo"> Welcome - {{this.currentUserInfo?.firstName}} {{this.currentUserInfo?.lastName}}</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['/']" matTooltip="Click here to go to the homepage" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon >home</mat-icon>
    </button>
    <button [routerLink]="['/Login']" mat-icon-button matTooltip="Click here to Login to the Blog" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>login</mat-icon>
    </button>
    <button [routerLink]="['/register']" mat-icon-button matTooltip="Register" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person_add</mat-icon>
    </button>
    <button [routerLink]="['/newblog']" mat-icon-button matTooltip="New Blog" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>library_add</mat-icon>
    </button>
  </mat-toolbar>
  
